<h1 class="display-4">Welcome To Spectre</h1>
<p class="mb-4">Simple Blog app on Sails</p>
<a href="/posts/list" class="btn btn-primary">All posts</a>
<a href="/posts/add" class="btn btn-primary">Add post</a>